{{!--
  Overrides Table Component
--}}
<div class="overrides-table-container">
<table class="overrides-table">
  <colgroup>
    <col style="width:8%" />
    <col style="width:12%" />
    <col style="width:12%" />
    <col style="width:12%" />
    <col style="width:12%" />
    <col style="width:12%" />
    <col style="width:16%" />
    <col style="width:16%" />
  </colgroup>
  <thead>
    <tr>
      <th class="token-image">Token</th>
      <th class="token-name">Name</th>
      <th class="action-column">Visibility</th>
      <th class="action-column">Seek</th>
      <th class="action-column">Hide</th>
      <th class="action-column">Sneak</th>
      <th class="action-column">Create Diversion</th>
      <th class="action-column">Attack Consequences</th>
    </tr>
  </thead>
  <tbody>
    {{#each tokens as |target|}}
      <tr class="token-row {{sectionType}}-row {{#if target.dispositionClass}}{{target.dispositionClass}}-npc{{/if}}" data-token-id="{{target.id}}">
        <td class="token-image">
          <img src="{{target.img}}" width="28" height="28" />
        </td>
        <td class="token-name">
          <strong>{{target.name}}</strong>
        </td>
        <td class="action-column">
          <div class="override-selection" data-target="{{target.id}}" data-action="visibility">
            {{#each target.overrideStates as |state|}}
              <button type="button" class="override-icon {{#if state.selectedVisibility}}selected{{/if}} {{state.cssClass}}" 
                      data-state="{{state.value}}" data-target="{{target.id}}" data-action="visibility"
                      data-tooltip="{{state.label}}">
                <i class="{{state.icon}}"></i>
              </button>
            {{/each}}
          </div>
        </td>
        <td class="action-column">
          <div class="override-selection" data-target="{{target.id}}" data-action="seek">
            {{#each target.overrideStates as |state|}}
              {{#if (or (eq state.value "observed") (eq state.value "hidden") (eq state.value "no-override"))}}
                <button type="button" class="override-icon {{#if state.selectedSeek}}selected{{/if}} {{state.cssClass}}" 
                        data-state="{{state.value}}" data-target="{{target.id}}" data-action="seek"
                        data-tooltip="{{state.label}}"
>
                  <i class="{{state.icon}}"></i>
                </button>
              {{/if}}
            {{/each}}
          </div>
        </td>
        <td class="action-column">
          <div class="override-selection" data-target="{{target.id}}" data-action="hide">
            {{#each target.overrideStates as |state|}}
              {{#if (or (eq state.value "concealed") (eq state.value "hidden") (eq state.value "observed") (eq state.value "no-override"))}}
                <button type="button" class="override-icon {{#if state.selectedHide}}selected{{/if}} {{state.cssClass}}" 
                        data-state="{{state.value}}" data-target="{{target.id}}" data-action="hide"
                        data-tooltip="{{state.label}}">
                  <i class="{{state.icon}}"></i>
                </button>
              {{/if}}
            {{/each}}
          </div>
        </td>
        <td class="action-column">
          <div class="override-selection" data-target="{{target.id}}" data-action="sneak">
            {{#each target.overrideStates as |state|}}
              {{#if (or (eq state.value "hidden") (eq state.value "undetected") (eq state.value "observed") (eq state.value "no-override"))}}
                <button type="button" class="override-icon {{#if state.selectedSneak}}selected{{/if}} {{state.cssClass}}" 
                        data-state="{{state.value}}" data-target="{{target.id}}" data-action="sneak"
                        data-tooltip="{{state.label}}">
                  <i class="{{state.icon}}"></i>
                </button>
              {{/if}}
            {{/each}}
          </div>
        </td>
        <td class="action-column">
          <div class="override-selection" data-target="{{target.id}}" data-action="createDiversion">
            {{#each target.overrideStates as |state|}}
              {{#if (or (eq state.value "hidden") (eq state.value "observed") (eq state.value "no-override"))}}
                <button type="button" class="override-icon {{#if state.selectedCreateDiversion}}selected{{/if}} {{state.cssClass}}" 
                        data-state="{{state.value}}" data-target="{{target.id}}" data-action="createDiversion"
                        data-tooltip="{{state.label}}">
                  <i class="{{state.icon}}"></i>
                </button>
              {{/if}}
            {{/each}}
          </div>
        </td>
        <td class="action-column">
          <div class="override-selection" data-target="{{target.id}}" data-action="attackConsequences">
            {{#each target.overrideStates as |state|}}
              <button type="button" class="override-icon {{#if state.selectedAttackConsequences}}selected{{/if}} {{state.cssClass}}" 
                      data-state="{{state.value}}" data-target="{{target.id}}" data-action="attackConsequences"
                      data-tooltip="{{state.label}}">
                <i class="{{state.icon}}"></i>
              </button>
            {{/each}}
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>